[Unit]
Description=Lampi app service
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/home/pi/connected-devices-spring25/Lampi
ExecStart=/home/pi/lampi-venv/bin/python3 main.py

[Install]

