[Unit]
Description=Lampi app service
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
Environment=HOME="/home/pi"
WorkingDirectory=/opt/Lampi
ExecStart=/home/pi/lampi-venv/bin/python3 /opt/lampi/lamp_ui.py

[Install]
WantedBy=multi-user.target
