[Unit]
Description=Lampi bluetooth service
After=multi-user.target lampi_hci0_up.service

[Service]
User=pi
Type=simple
Restart=always
Environment=HOME="/home/pi"
WorkingDirectory=/opt/lampi
ExecStart=/home/pi/lampi-venv/bin/python3 /opt/lampi/bluetooth/ble_peripheral.py

[Install]
WantedBy=multi-user.target
