[Unit]
Description=Lampi service service
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/opt/lampi
ExecStart=/home/pi/lampi-venv/bin/python3 lamp_service.py

[Install]

