[Unit]
Description=Lampi app service
After=multi-user.target

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/opt/Lampi
ExecStart=/home/pi/lampi-venv/bin/python3 lamp_ui.py

[Install]
WantedBy=multi-user.target
